*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: white;
}
html, body{
  height: 100%;
  width: 100%;
  background-color: #111;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border: 2px solid black;
  background-color: #222;
  border-radius: 10px;
  margin: 10px; 
  padding: 20px;
  text-align: center;
  
}
.card img{
  width: 100%;
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
}
.card p{
  margin: 20px 0;
}
.card button{
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  background-color: #555;
  color: white;
  cursor: pointer; 
  
}
