*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 

}
body{
  background-color: #111;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  
}
.parent{
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: #111;
  flex-wrap: wrap;
}
.card{
  height: 320px;
  width: 285px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.card .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 16px; */
  border-bottom: 1px solid #eee;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}
.top button{
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  background-color: transparent;
  color: #b1b1b1;
}

.center h3{
  font-size: 23px;
  font-weight: 600;
  margin-bottom: 10px;
}
.center h3 span{
  font-size: 11px;
  font-weight: 600;
  color: #8b8b8b;
  margin-left: 3px;
}
.center h2{
  font-size: 22px;
}
.center .tag{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 4px 7px;
  font-weight: 500;
  border-radius: 5px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom h3{
  font-size: 16px;
  font-weight: 600;
}
.bottom button{
  padding: 8px 16px;
  background-color: #111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}
.bottom button:hover{
  background-color: #333;
}